# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/

# Data
data/raw/*
data/processed/*
data/reports/*

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Documentation
docs/_build

# Tests
.pytest_cache
.coverage
htmlcov/
